#wrap3 {
//padding-top: 30px;
    margin-top: -15px;
}
.navbar-default {
    border: none;
    border-bottom: 1px solid #00cee8;
}
footer{
    background-color: #f3f3f3;
}
.caret{
    color: white;
}
.footer-menu{
    text-align: center;
    font-size: 13px;
    font-family: "Open Sans";
    color: rgb(5, 68, 80);
    text-transform: uppercase;
    padding-top: 20px;
}
footer a {
    color: #054450;
}
.footer-copyright{
    font-family: 'Open Sans';
    font-size: 10px;
    color: #364450;
}
.panel.panel-default {
    margin-top: 65px;
    margin-bottom: 50px;
}
h2.panel-title {
    text-align: center;
}
.panel-body {
    background-color: #f9f9f9;
}
.panel-default > .panel-heading {
    color: #333333;
    background-color: #ededed;
    border-color: snow;
    border: none;
}
.btn {
    border-radius: 0px;
}
.btn-default {
    color: white;
    background-color: #00cee8;
    border-color: #00cee8;
}
.btn-lg, .btn-group-lg > .btn {
    border-radius: 0px;
}
.btn-info {
    color: #2f2f2f;
    background-color: white;
    border-color: #f2f2f2;
}

.banner-pair img {
    height:30px;
    margin-bottom: 8px;
}


body {
    font-family: "Open Sans";
}
/* languages selector with header
------------------------------------------------------ */
header #languages {
    width: 55px;
    min-width: 55px;
}
header #languages li > a{ padding-top: 8px; }
.navbar {
    min-height: 98px;
    padding: 17px;
    margin-bottom: 0px;
}
ul.nav.navbar-nav.navbar-right li {
    border: 0.5px solid #00cee8;
    border-radius: 4px;
    padding: 0px;
    margin-left: 20px;
    /* width: 95px; */
    text-align: center;
    height: 37px;
    margin-top: 9px;
    margin: 8px;
    background: #1c294f;
    font-weight: 700;
}
ul.nav.navbar-nav.navbar-right li:hover {
   
}
.navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 15px;
}
.navbar-nav > li > a > span {
    text-transform: uppercase;
    color: #439455;
}
.banner-text {
    color: white;
    top: 408px;
    font-size: 30px;
    text-align: center;
    position: absolute;
    width: 100%;
}
.banner-pair {
    position: absolute;
    color: white;
    width: 100%;
    height: 100px;
    background-color: #3f6cb1;
    padding-top: 21px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
} 
.cont {
   margin: 0 auto;
}
.banner {
    /*background-image: url('/languages/big-logo.jpg');*/
    /*height: 623px;*/
    height: 700px;
    background-position-x: center;
    position: relative
}
.fullscreen-bg {
  position: absolute; 
  left:   0;
  right: 0; 
  bottom: 0;  
  top: 0; 
}
.fullscreen-bg__video {
  width: 100%;
  position: absolute;
  left: 0;  
  right: 0; 
  bottom: 0;  
  top: 0; 
}
.intro__wrapper {
  color: white;
  font-size: 30px;
  text-align: center;
  width: 100%;
  position: absolute;
  margin-top:   100px;
  z-index:0;
  font-font: bold; 
}
.intro__wrapper p {
  padding: 30px 0;
}
.intro {
    background-color: black;
    position:   relative;
    background-size:  cover;
    background-repeat:  no-repeat;
    background-size:  50% 50%;
    max-height: 700px;
    overflow:   hidden;
    width:  100%;
    height:   100%;
    margin-top: 118px;
}
.index-block1 {
    background-color: white;
}
.index-block1-head {
    padding-top: 70px;
    margin-top:80px;
    font-size: 33px;
    font-family: "Open Sans";
    font-weight: bold;
}
.index-block1-dsc {
    padding-top: 44px;
    font-size: 22px;
    font-family: "Open Sans";
    /*max-width: 600px;*/
    text-align: justify;
    margin: 10px 100px 40px 100px;
    padding: 20px;
}
.myntexalstyle {
    text-align: center;
}
.index-block2 {
    /* background-color: #3f6cb1; */
    padding-bottom: 122px;
    background-image: url("/languages/desktop_blue.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.index-block-btn {
    background-color: #57d773;
    width: 205px;
    height: 76px;
    font-size: 24px;
    font-family: "Open Sans";
    color: white;
    padding-top: 23px;
    margin-top: 50px;
    border-radius: 3px;
    padding-bottom: 50px;
    margin:0 auto;
    display: inline-block;
    margin-right: 40px;
    margin-left: 40px;
    z-index:600;
}

.index-block-btn:hover {
    background-color: rgba(87, 215, 115, 0.7);
    text-decoration: none;
}

.right-button {
   padding-left: 20px;
   display: inline-block;  
}

.intro__wrapper a:first-child {
   padding-right: 10px;
}

.intro__wrapper a:last-child {
   padding-left: 10px;
}

.languages-mobile img {
  padding-top: 10px;
  padding-left: 18px;
}

.index-bottom-btn {
    color: transparent;
    background-color: transparent;
    width: 205px;
    height: 250px;
    font-size: 24px;
    font-family: "Open Sans";
    padding-top: 23px;
    margin-top: 100px;
    border-radius: 3px;
    padding-bottom: 50px;
    margin:0 auto;
 
}
.index-block2-head {
    font-size: 40px;
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding-top: 122px;
    padding-bottom: 0px;
    color: #329851;
}

.index-block2-head div {
   display: inline;
}
.white {
    color:white;
}


.index-block2-container {
    max-width: 1185px;
    margin: 0 auto;
}
.index-block2-item {
    display: inline-block;
    max-width: 350px;
    height: 100px;
    margin: 20px;
    color: white;
}
.index-block2-img {
    float: left;
    margin-top: 60px;
    margin-right: 7px;
    height: 70px;
    color: white;
    /* filter: invert(100%);
    -webkit-filter: invert(100%); */
}
.index-block2-header{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.index-block2-dsc{
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
    color: white;
}

.banner2{
    background: black;
    width: 100%;
    position: relative;
}

.banner2 img {
   
}

.banner2-dsc{
    /*text-align: justify;*/
}
.index-block3{
    background-color: white;
    width: 100%;
    margin-bottom: 70px;
}
.index-block3-title {
    font-size: 30px;
    font-family: "Open Sans";
    padding: 70px 20px;
    padding-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.index-block3-btn {
    background-color: #57d773;
    width: 205px;
    height: 76px;
    font-size: 24px;
    font-family: "Open Sans";
    color: white;
    padding-top: 23px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 3px;
}
.index-block3-btn:hover {
   background-color:rgba(87,215,115,0.7);
   text-decoration: none;
}
.index-block3-sep{
    height: 50px;
}
.seperator-line{
    height:1px;
    width:100%
}
body{

}
.ticker-pair {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}
.index_menu_item {
    display: inline-block;
    padding-left: 20px;
    color: #00cee8;
    font-size: 13px;
}
#index_menu {
    text-transform: uppercase;
    float: left;
/*    padding-left: 260px;*/
    position: relative;
    top: 14px;
}
header.navbar.navbar-default.navbar-static-top {
    width: 100%;
    position: absolute;
    height: 700px;
    z-index:10;
}
a.anchor {
    display: block;
    position: relative;
    top: -109px;
    visibility: hidden;
}
a.index_menu_item:hover {
    color: #51d86f;
    text-decoration: none;
}
.navbar-nav > li > a > span, .navbar-nav > li > a > i {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}
.navbar-nav > li > a:hover > span {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
}
ul.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.2 );
}
.dropdown-menu a span, .dropdown-menu i {
    color: white;
    padding-top: 10px;
}

.dropdown-menu a span:last-child {
    color: white;
    padding-top: 5px;
}

.dropdown-menu li {
    border: 1px solid #00cee8;
    border-radius: 4px;
    padding: 0px;
    margin-left: 20px;
    /* width: 95px; */
    text-align: center;
    height: 37px;
    margin-top: 9px;
    margin: 8px;   
}
.dropdown-menu>li>a {
    display: block;
    padding: 0px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu li:hover {
}
.index-block3-title a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.dropdown-menu a:hover {
    background: rgba(0,0,0,0.0) !important;
    border: none;
    /*color: red;*/
}
.dropdown-menu a:focus {
    background: rgba(0,0,0,0.0) !important;
    border: none;
}
.navbar-default {
    border: none;
    /*border-bottom: 1px solid #00cee8;*/
}
.navbar-default {
    background-color: transparent;
 }
a.navbar-brand {
    height: 90px;
}
.banner4-grid {
    position: absolute;
    top: 10%;
    color: white;
    left: 0;
    bottom: 0;
    right: 0;
}
.vcenter {
    display: flex;
    align-items: center;
}
.banner2-title{
    color: #51d86f;
    margin-bottom: 10px;
}
.ban4-tblock {
    background: black;
    padding: 20px;
}
.ban4-l{
    margin-top: 8%;
}
.ban4-r{
    margin-top: 6%;
}
.banner-mob{
    margin-top: 10px;
    position: relative;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    /*background-color: #2f2f2f;*/
    background-color: rgba(47,47,47,0.2);
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
}
.navbar-default {

}
.navbar-brand {
    float: right;
    height: auto !important;
    padding: 0px;
    font-size: 18px;
    line-height: 20px;
    display: none;
}

.index-block2-sep.hidden-xs {
    height: 40px;
}

.intro__wrapper {
   z-index:20;
  
}

.divider_coins {
   height: 19px !important;
   width: 2px !important;
   margin: 0 4px 0 7px;
}


@media (max-width: 991px) {
    .banner4-grid {
        position: relative;
        top: 0px;
        color: white;
    }
    .ban4-r, .ban4-l{
        margin-top:0%;
    }
    .index-block2 .col-sm-8 {
        display: block;
        float: none;
        margin: 0 auto;
        margin-top: 50px;
    }
    .index-block2 img {
       width: 47px;
       

    }
    .banner-pair {
       height: 160px !important;
    }
    .ticker-pair {
       margin-bottom: 15px;
    }
    
    .index-block1-head {
      font-size: 28px;
     }
    .index-block1 {
      margin-top: 140px;
    }
    .cont {
      width: 80%;
    }

}

@media (max-width: 1260px) and (min-width: 1160px) {
    .banner {
      height: 650px;
    }
    .ticker-pair {
      display: inline-block;
      padding-left: 22px;
      padding-right: 22px;
      font-size: 12px;
    }
 
}

@media (max-width: 1159px) and (min-width: 1066px) {
    .banner {
      height: 600px;
    }
    .ticker-pair {
      display: inline-block;
      padding-left: 22px;
      padding-right: 22px;
      font-size: 12px;
    }
 
}

@media (max-width: 1066px) and (min-width: 990px) {
    .banner {
      height: 560px !important;
    }
    .ticker-pair {
      display: inline-block;
      padding-left: 22px;
      padding-right: 22px;
      font-size: 12px;
    }
 
}

@media (max-width: 767px) {
    .intro__wrapper img{
        display: none;
    }
    /*.intro__wrapper p{*/
        /*padding-top: 30%*/
    /*}*/

    ul.nav.navbar-nav.navbar-right li {
        border: 0.5px solid #3f6cb1;
        border-radius: 4px;
        padding: 0px;
        margin-left: 20px;
        /* width: 95px; */
        text-align: center;
        height: 37px;
        margin-top: 9px;
        margin: 8px;
        background: #3f6cb1;
        font-weight: 700;
    }
    .banner-pair {
        position: absolute;
        color: white;
        width: 100%;
        height: 100px;
        background-color: #3f6cb1;
        padding-top: 21px;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
    }
    .navbar {
      padding: 0;
    }
    .divider{
      position:absolute;
      left:50%;
      top:10%;
      bottom:10%;
      border-left:1px solid white;
    }
    #mobile-header {
      background-color: #3f6cb1;
      width: 100%;
    }
    #menu{
        height: 62px;
    }
    .fullscreen-bg {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top:72px !important;
    }
    .intro {
       margin-top:0 !important;
    }
    .banner-pair {
        position: absolute;
        height: auto;
        padding-top: 15px;
        font-size: 16px;
        margin-top: 0px;
        padding-bottom: 15px;
    }
    .intro__wrapper {
       z-index: auto;
    }
    .intro__wrapper p {
      padding: 25% 0 3% !important;

    }
    .ticker-pair {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        margin-top:3px;
        font-size:9px !important;
    }
    #index_menu {
        float: none;

    }
    ul#index_menu {
        text-align: center;
    }
    .languages-mobile img {
        margin: 0 15px;
        padding: 0;
    }
    img.active {
      box-shadow:  0 0 30px  white;
      -moz-box-shadow: 0 0 30px  white;
      -webkit-box-shadow: 0 0 30px  white;
      -o-box-shadow: 0 0 30px  white;
    }
    .navbar-nav .open .dropdown-menu {
            float: none;
            width: 101%;
            left: -1px;
            background-color: rgb(0, 0, 0);
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            margin: 0;
            padding: 0;
            position: absolute;
            z-index: 10000;
        }

    .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        background-color: #1c294e;
        border-color: #ddd;
        color: white;
    }
    
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
       border-color: #e7e7e7;
       color: white;
       background-color: #3f6cb1;
       text-align: center;
       font-weight: 100;
    }
    #index_menu1 {
       margin:0;
       margin-top: 15px;
    }
    .navbar-right {
       margin-top:0;
    }
    ul.nav.navbar-nav.navbar-right li {
       border:0;
    }
    .navbar-nav > li > a > span, .navbar-nav > li > a > i, li > a > i, li > a > span {
       text-transform: uppercase;
       color: #ffffff;
       font-size: 14px;
       font-weight: 500;
       padding-right: 5px;
    }
    .navbar-brand {
        display:inline-block;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .navbar-brand img {
        width: 110px !important;
    }
    .navbar-default {
        /* background-color: #2f2f2f; */
    }
    .navbar-header {
        display: inline-block;
        float: left;
        position: absolute;
        top: 10px;
        left: 30px;
    }
    header.navbar.navbar-default.navbar-static-top {
        /* margin-bottom: 33px; */
        margin-bottom: 20px;
        z-index: 9999 !Important;
    }

    .index-block1-head {
        padding-top: 40px;
        font-size: 22px;
        padding: 40px 15px 0px 15px;
    }
    .index-block1-dsc{
        margin: 5px;
        font-size:16px;
    }
    .index-block2 {
       background-image: url(/languages/mobile_blue.png);
    }
    .index-block2 .col-sm-8 {
        display: block;
        float: none;
        margin: 0 auto;
        margin-top:30px;
    }
    .index-block3-title {
        font-size: 22px;
    }
    .index-block2-img {
        height:60px;
        margin-top: 50px;
    }
   .index-block2 img {
       width: 47px;
       margin-right: 5px;
    }
    
    #wrap3 {
      margin-top:0px !important;
   }
    #wrap3 .banner {
      top:0;
    }
    .intro__wrapper {
      margin-top:0;
   }
   .intro__wrapper img{
      width: 240px;
      margin-top: -50px;
   }
   .index-block-btn {
      background-color: #57d773;
      height:auto !important;
      font-family: "Open Sans";
      color: white;
      padding-top: 20px !important;
    /* margin-top: 50px; */
      border-radius: 3px;
      padding-bottom: 20px !important;
      margin: 0 auto;
      display: inline-block;
      margin-right: 5px;
      margin-left: 5px;
      margin-top: 30px;
      z-index: 600;
      font-weight: 500;
      vertical-align: middle;
    }
    .ticker-pair {
      margin-bottom: 15px;
      padding-left:13px;
      padding-right:13px;
    }
 

}

@media(max-width:772px) and (min-width: 582px) {
   .cont {
     width: 77% !important;
   }

}

@media(max-width:610px) and (min-width: 463px) {
   .banner {
     height:650px;
   }
   .cont {
     width:96%;
   }
 }

@media(max-width:1365px) {
    .banner-pair {
      height: 93px;
      margin-top:0 !important;
      font-size
    }
    .index-block2-dsc {
      text-align: center;
    }
    .index-block2-img {
      margin-top: 50px;
    }
    .ticker-pair {
      display: inline-block;
      padding-left: 22px;
      padding-right: 22px;
      font-size: 12px;
    }

  
}

@media(max-width:463px) {
   .index-block2-dsc {
    /* text-align: left; */
       text-align: center !important;
       margin-bottom: 25px;
       margin: 0 10px;
       font-weight: bold;
       font-size:16px;
    }
    .index-block2 {
      margin-top: 40px;
    }
    .banner-pair {
      height: 168px;
      background-color: #3f6cb1;
    }
    
    .index-block1 {
      margin-top: 160px !important;
    }
    
    .index-block2-head {
      font-size: 24px;
      font-family: "Open Sans";
      color: rgb(0, 0, 0);
      font-weight: bold;
      padding-top: 62px;
      padding-bottom: 20px;
      color: #57d773;
    }

    .index-block-btn {
      background-color: #57d773;
      width: 150px;
      font-size: 18px;
      font-family: "Open Sans";
      color: white;
      padding-top: 20px !important;
    /* margin-top: 50px; */
      border-radius: 3px;
      padding-bottom: 20px !important;
      margin: 0 auto;
      display: inline-block;
      margin-right: 5px;
      margin-left: 5px;
      z-index: 600;
      font-weight: 500;
      vertical-align: middle;
    }
    .intro__wrapper p {
      font-size:20px;
    }
    .banner {
      height: 600px;
    }
    .ticker-pair {
      /* display: block;
      width: 100%;
      font-weight: 100 !important; */
      font-size: 10px;
      margin-top: 3px !important;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 0;
    }
    .price {
      padding-bottom:20px;
    }
    .cont {
      width:92%; 
    }
    .intro__wrapper img {
      width: 200px;
    }
    .ticker-pair{
        font-size: 8px !important;
    }
}

@media(max-width:420px) {
  .banner {
    height: 550px;
  }
}

@media(max-width:385px) {
  .banner {
    height: 510px;
  }
  .ticker-pair {
    padding-left:8px;
    padding-right: 8px;
  }
  .cont {
    width:92%;
  }

}

@media (max-width: 363px ) {
    .banner-pair{
        height: 165px !important;
    }
    .index-block1 {
        margin-top: 180px !important;
    }
    .intro__wrapper p {
        padding: 20% 0 3% !important;

    }
}

@media(max-width:360px) {
  .banner {
    height: 490px;
  }
}

@media(max-width:345px) {
  .banner {
    height: 470px;
  }
}

@media(max-width: 338px){
  .banner-pair {
     height: 234px !important;
  }
  .index-block1 {
     margin-top: 220px !important;
  }
  .index-block-btn {
     width:130px;
     font-size:16px;
  }

}

@media(max-width:310px) {
  .banner {
    height: 440px;
  }
    .index-block-btn {
        width: 100px;
        font-size: 14px;
    }
}

